<h1>This is liquid</h1>

{% schema %}
{
  "name": "Liquid Reference",
  "settings": [
    {
      "id": "Liquid-ref",
      "type": "text",
      "label": "A reference for Shopify Liquid"
    }
  ],
  "presets": [
    {
      "name": "Liquid Reference",
      "category": "Reference"
    }
  ]
}
{% endschema %}