<h1>This is lilquid</h1>

{%  schema  %}
{
    "name" : "Liquid Reference",
    "settings": [
        {
            "id" : "Liquid-ref",
            "type" : "text",
            "label":"A reference for Shopify Liquid"
        }
    ],
    "templates": ["index", "page", "product"],
    "presets": [
        {
            "name": "Liquid Reference",
            "category": "Reference"
        }
    ]
   
}
{% endschema %} 